<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- ProfileServlet handles single profile submission -->
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <!-- ViewProfilesServlet handles viewing all profiles -->
    <servlet>
        <servlet-name>ViewProfilesServlet</servlet-name>
        <servlet-class>ViewProfilesServlet.ViewProfilesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProfilesServlet</servlet-name>
        <url-pattern>/ViewProfilesServlet</url-pattern>
    </servlet-mapping>
    <!-- Welcome file (default page when app loads) -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
